.block {
    width: 560px; /* you have to have a size or this method doesn't work */
    height: 315px; /* think about making these max-width instead - might give you some more responsiveness */

    position: absolute; /* positions out of the flow, but according to the nearest parent */
    top: 0; right: 0; /* confuse it i guess */
    bottom: 0; left: 0;
    margin: auto; /* make em equal */ 
}

.v-card__text {
    background-color: black;
}


ul.kontakt-content {
    width: 100%;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.kontakt-content li {
    padding: 0 30px;
    flex-basis: 33%;
    text-align: center;
}

.kontakt-content li i {
    font-size: 50px;
    color: #fff;
    margin-bottom: 25px;
}
.kontakt-content li p {
    margin: 0;

}


@media (max-width: 1000px) {
    .kontakt-content li {
        flex-basis: 100%;
        margin-bottom: 65px;
    }

    .kontakt-content li:last-child{
        margin-bottom: 0;
    }
    
    .kontakt-content li p {
        padding: 0;
        text-align: justify;
    }
}


